@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Jura:wght@300;500&display=swap");
/* ------------------------------- *
 * ------------ Resets ----------- *
 * ------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #f3f5f8;
  color: #3c1493;
  font-family: "Dosis", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #3c1493;
}

p {
  font-weight: 300;
}

h1 {
  font-weight: 300;
}

h2,
h3 {
  font-weight: 500;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

input {
  background-color: transparent;
}

/* -------- End of Resets -------- */
/*                                 */
/* ------------------------------- *
 * ----- Some General Styles ----- *
 * ------------------------------- */
/* Text Styles */
.main__title {
  font-family: "Jura", sans-serif;
  font-size: 1.9rem;
  line-height: 2.06rem;
  text-align: center;
}

.section__title {
  font-family: "Jura", sans-serif;
  font-size: 1.85rem;
  line-height: 1.88rem;
  text-align: center;
}

.main__text {
  font-family: "Jura", sans-serif;
  font-size: 1.5rem;
  line-height: 1.6rem;
  text-align: center;
  color: #dd4356;
}

.no_results__title {
  font-family: "Jura", sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  color: #dd4356;
}

.text {
  font-family: "Dosis", sans-serif;
  font-size: 1rem;
  line-height: 1.44rem;
}

.small_text {
  font-family: "Dosis", sans-serif;
  font-size: 0.88rem;
  line-height: 1.25rem;
}

/* Hiden sections */
.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

/* Making sections or elements visible */
.visible {
  opacity: 1;
}

/* ---- End of General Styles ---- */
/*                                 */
/*       Dark Themes      */
.dark {
  background-color: #222326;
  color: #f3f5f8;
}

.dark i {
  color: #f3f5f8;
}

.dark .text {
  color: #f3f5f8;
}

.dark .navbar {
  background-color: #222326;
}

.dark .menu {
  background-color: #222326;
}

.dark .menu__item a {
  color: #f3f5f8;
}

.dark .search {
  border-color: #f3f5f8;
  caret-color: #f3f5f8;
}

.dark .search__input {
  color: #f3f5f8;
}

.dark .search i {
  color: #f3f5f8;
}

.dark .small_text {
  color: #f3f5f8;
}

.dark .prev,
.dark .next {
  background-color: #f3f5f8;
  color: #222326;
}

.dark .prev:hover,
.dark .next:hover {
  background-color: #222326;
  color: #f3f5f8;
  border-color: #f3f5f8;
}

/*   End of Dark Themes   */
/* ------------------------------- *
 * ------- Navigation Bar -------- *
 * ------------------------------- */
/* Section´s General Layout */
.navbar {
  position: relative;
  background-color: #f3f5f8;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-top: 0.31rem solid #3c1493;
  /* Size and hiding of Search Bar in Navbar */
}

.navbar .logo {
  width: 3.05rem;
}

.navbar .search {
  display: none;
  padding: 1rem;
}

.navbar .search__input {
  width: 87%;
}

/* ---- End of Navigation Bar ---- */
/*                                 */
/* ------------------------------- *
 * ------- Hamburguer Menu ------- *
 * ------------------------------- */
/* Menu´s General Layout */
.menu {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 4.812rem;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  overflow: hidden;
  background-color: #3c1493;
}

.menu__item {
  padding: 1rem;
}

.menu__item a {
  font-family: "Jura", sans-serif;
  font-weight: 700;
  font-size: 0.94rem;
  line-height: 1.88rem;
  text-transform: capitalize;
  letter-spacing: 0;
  color: #f3f5f8;
}

.menu__line {
  padding: 0;
  width: 2.56rem;
  height: 0.01rem;
  background-color: #f3f5f8;
}

/* Burger Icon */
.burger {
  background-color: transparent;
  border: none;
  outline: none;
}

.burger i {
  font-size: 1rem;
  color: #3c1493;
}

/* ---- End of Hamburguer Menu ---- */
/*                                  */
/* ------------------------------- *
 * --------- Search Bar ---------- *
 * ------------------------------- */
/* Input Styles */
.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #3c1493;
  border-radius: 27px;
  padding: 1rem;
  padding-bottom: 0;
}

.search__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  margin-bottom: 1rem;
}

.search__input {
  border: none;
  outline: none;
  width: 95%;
  background-color: transparent;
  margin-left: 0.5rem;
  font-size: 1rem;
}

.search__btn i {
  color: #ab6e0d;
}

/* Buttons Styles */
.search__btn,
.right__btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.25rem;
}

.right__btn i {
  color: #3c1493;
}

/* ------ End of Search Bar ------ */
/*                                 */
.loader {
  width: 5vw;
  animation: rotation 1.5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* ------------------------------- *
 * --------- Hero Section -------- *
 * ------------------------------- */
/* Section´s General Layout */
.welcome {
  padding: 1rem 1.5rem;
  text-align: center;
}

.welcome .main__text {
  margin-bottom: 4rem;
}

/* ----- End of Hero Section ----- */
/*                                 */
/* ------------------------------- *
 * ----------- Footer ------------ *
 * ------------------------------- */
/* Section´s General Layout */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  border-bottom: 0.31rem solid #3c1493;
}

.footer .small_text {
  color: #000000;
}

/* -------- End of Footer -------- */
/*                                 */
/* --------------------------------------------------- *
 * ----------- Results / Favorites Section ----------- *
 * --------------------------------------------------- */
/* Main container Layout */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0.5rem;
}

/* Section´s General Layout */
.favorites,
.results {
  padding: 1rem 1.5rem;
  text-align: center;
}

.error {
  width: 50%;
  padding: 2rem;
  text-align: center;
  background-color: #ab6e0d;
  opacity: 0.65;
}

.error p {
  font-size: 1.75rem;
  color: #f3f5f8;
}

/* Results´s Line on Top */
.section_line {
  width: 25%;
  height: 0.01rem;
  margin: 2.88rem auto;
  background-color: #ab6e0d;
}

/* Heroes Results Layout */
.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 46%);
  justify-content: center;
  gap: 1rem;
  margin-top: 2.88rem;
  /* Setup for later styles in hero's hover */
}

.grid .hero {
  position: relative;
}

/* Message: No Searching Results */
.error_msg {
  width: 80%;
  text-align: center;
  margin: 5% auto;
}

/* -- End of My Gifos / Favorites / Results Section -- */
/*                                                     */
/* ------------------------------- *
 * -------- Tablet Styles -------- *
 * ------------------------------- */
@media (min-width: 768px) {
  /*Erase Hamburguer Menu*/
  .burger {
    display: none;
  }
  /* Navigation Bar Styles */
  .navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 1rem 3rem;
  }
  /* Logo Size */
  .logo {
    width: 3.69rem;
  }
  /*Horizontal Menu*/
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    visibility: visible;
    background-color: transparent;
    position: relative;
    top: 0;
    padding: 0;
    width: 100%;
    height: auto;
  }
  .menu__item {
    padding: 0;
    margin: 0 1rem;
  }
  .menu__item:first-child {
    margin-left: 0;
  }
  .menu__item a {
    color: #3c1493;
    text-transform: uppercase;
  }
  .menu__line {
    display: none;
  }
  /* Dark Theme in Horizontal Menu */
  .dark .menu {
    background-color: transparent;
  }
  /* Hero Section */
  /* Size of paragraph in Hero */
  .welcome {
    padding: 1rem;
  }
  .welcome .main_title {
    max-width: 35.45rem;
    margin: 0 auto;
  }
  /* Size of search bar */
  .search {
    width: 35.45rem;
    margin: 0 auto;
  }
  /* Favorites Section */
  /* Amount of columns in gif results */
  .grid {
    grid-template-columns: repeat(auto-fit, 20%);
    margin-top: 2.25rem;
  }
  /* Size of Buttons */
  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    padding: 5rem auto;
    width: auto;
  }
}

/* ----- End of Tablet Styles ---- */
/*                                 */
/* ------------------------------- *
 * ------- Desktop Styles -------- *
 * ------------------------------- */
@media (min-width: 900px) {
  /* Text Styles */
  .main__title {
    font-family: "Jura", sans-serif;
    font-size: 3.19rem;
    line-height: 3.3rem;
    text-align: center;
  }
  .section__title {
    font-family: "Jura", sans-serif;
    font-size: 2.56rem;
    line-height: 2.88rem;
    text-align: center;
  }
  .text {
    font-family: "Dosis", sans-serif;
    font-size: 1.13rem;
    line-height: 1.44rem;
  }
  .small__text {
    font-family: "Dosis", sans-serif;
    font-size: 1rem;
    line-height: 1.25rem;
  }
  /* Buttons Styles */
  .btn:hover,
  .button:hover {
    background-color: #3c1493;
    color: #f3f5f8;
  }
  /* Navbar Styles */
  /* Menu Styles */
  .menu {
    padding: 0;
    background-color: inherit;
  }
  .menu__item:hover {
    border-bottom: 2px solid #dd4356;
  }
  .menu__item a:active {
    color: #ab6e0d;
  }
  /* Footer Section Styles */
  .footer {
    padding: 2rem;
  }
}

/*                                 */
@media (min-width: 1100px) {
  /* Navbar Styles */
  .navbar {
    padding: 1.5rem 9.75rem;
  }
}

/* ---- End of Desktop Styles ---- */
/*                                 */
/*# sourceMappingURL=styles.css.map */