@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Jura:wght@300;500&display=swap");
/* ------------------------------- *
 * ------------ Resets ----------- *
 * ------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #f3f5f8;
  color: #3c1493;
  font-family: "Dosis", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #3c1493;
}

p {
  font-weight: 300;
}

h1 {
  font-weight: 300;
}

h2,
h3 {
  font-weight: 500;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

input {
  background-color: transparent;
}

/* -------- End of Resets -------- */
/*                                 */
/* ------------------------------- *
 * ----- Some General Styles ----- *
 * ------------------------------- */
/* Text Styles */
.main__title {
  font-family: "Jura", sans-serif;
  font-size: 1.9rem;
  line-height: 2.06rem;
  text-align: center;
}

.section__title {
  font-family: "Jura", sans-serif;
  font-size: 1.85rem;
  line-height: 1.88rem;
  text-align: center;
}

.main__text {
  font-family: "Jura", sans-serif;
  font-size: 1.5rem;
  line-height: 1.6rem;
  text-align: center;
  color: #dd4356;
}

.see_more_title {
  font-family: "Jura", sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  color: #dd4356;
  cursor: pointer;
  margin: 2rem;
}

.text {
  font-family: "Dosis", sans-serif;
  font-size: 1rem;
  line-height: 1.44rem;
}

.small_text {
  font-family: "Dosis", sans-serif;
  font-size: 0.88rem;
  line-height: 1.25rem;
}

/* Hiden sections */
.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

/* Making sections or elements visible */
.visible {
  opacity: 1;
}

/* ---- End of General Styles ---- */
/*                                 */
/* ------------------------------- *
 * ------- Navigation Bar -------- *
 * ------------------------------- */
/* Section´s General Layout */
.navbar {
  position: relative;
  background-color: #f3f5f8;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-top: 0.31rem solid #3c1493;
}

.navbar .logo {
  width: 3.05rem;
}

/* ---- End of Navigation Bar ---- */
/*                                 */
/* ------------------------------- *
 * --------- Search Bar ---------- *
 * ------------------------------- */
/* Input Styles */
.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #3c1493;
  border-radius: 27px;
  padding: 1rem;
  padding-bottom: 0;
}

.search__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  margin-bottom: 1rem;
}

.search__input {
  border: none;
  outline: none;
  width: 95%;
  background-color: transparent;
  margin-left: 0.5rem;
  font-size: 1rem;
}

.search__btn i {
  color: #ab6e0d;
}

/* Buttons Styles */
.search__btn,
.right__btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.25rem;
}

.right__btn i {
  color: #3c1493;
}

/* ------ End of Search Bar ------ */
/*                                 */
.loader {
  width: 5rem;
  margin: 5.75rem;
  animation: rotation 1.5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.hero {
  width: 15.19rem;
  height: 15.19rem;
  margin: 1.5rem;
  position: relative;
  cursor: pointer;
}

.hero__img {
  width: 15.19rem;
  height: 15.19rem;
  display: block;
  position: inherit;
  object-fit: cover;
}

.hero__info--button {
  width: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  opacity: 0.7;
}

.hero__info--button:hover {
  opacity: 1;
}

.hero__info--name {
  font-family: "Jura", sans-serif;
  font-weight: 700;
  font-size: 0.94rem;
  line-height: 1.88rem;
  text-transform: capitalize;
  letter-spacing: 0;
  color: #f3f5f8;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  padding: 0.5rem;
  background-color: #3c1493;
  cursor: pointer;
}

.hero__page {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 1rem;
}

.hero__page--img {
  width: 30vw;
  min-width: 230px;
}

.hero__page .section__title {
  margin: 2rem;
}

.hero__page .text {
  padding: 1rem;
  margin: 2rem;
  background-color: #02020246;
  color: #f3f5f8;
  max-width: 500px;
}

.pagination {
  display: flex;
  width: 50vw;
  margin: 1rem auto;
  justify-content: space-around;
  align-items: center;
}

.pagination .button__prev,
.pagination .button__next {
  font-family: "Jura", sans-serif;
  font-weight: 700;
  font-size: 0.94rem;
  line-height: 1.88rem;
  text-transform: uppercase;
  letter-spacing: 0;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  width: auto;
  border: 1px solid #3c1493;
  border-radius: 1.9rem;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  outline: none;
}

/* ------------------------------- *
 * --------- Hero Section -------- *
 * ------------------------------- */
/* Section´s General Layout */
.welcome {
  padding: 1rem 1.5rem;
  text-align: center;
}

.welcome .main__text {
  margin-bottom: 4rem;
}

/* ----- End of Hero Section ----- */
/*                                 */
/* ------------------------------- *
 * ----------- Footer ------------ *
 * ------------------------------- */
/* Section´s General Layout */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  border-bottom: 0.31rem solid #3c1493;
}

.footer .small_text {
  color: #000000;
}

/* -------- End of Footer -------- */
/*                                 */
/* --------------------------------------------------- *
 * ----------- Results / Favorites Section ----------- *
 * --------------------------------------------------- */
/* Main container Layout */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0.5rem;
}

/* Section´s General Layout */
.favorites,
.heroes {
  padding: 1rem 1.5rem;
  text-align: center;
}

.error {
  width: 50%;
  padding: 2rem;
  text-align: center;
  background-color: #ab6e0d;
  opacity: 0.65;
}

.error p {
  font-size: 1.75rem;
  color: #f3f5f8;
}

/* Results´s Line on Top */
.section_line {
  width: 25%;
  height: 0.01rem;
  margin: 2.88rem auto;
  background-color: #ab6e0d;
}

/* Heroes Results Layout */
.heroes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2.88rem;
}

/* Message: No Searching Results */
.error_msg {
  width: 80%;
  text-align: center;
  margin: 5% auto;
}

/* -- End of My Gifos / Favorites / Results Section -- */
/*                                                     */
/* ------------------------------- *
 * -------- Tablet Styles -------- *
 * ------------------------------- */
@media (min-width: 768px) {
  /* Navigation Bar Styles */
  .navbar {
    padding: 1rem 3rem;
  }
  /* Logo Size */
  .logo {
    width: 3.69rem;
  }
  /* Hero Section */
  /* Size of paragraph in Hero */
  .welcome {
    padding: 1rem;
  }
  .welcome .main_title {
    max-width: 35.45rem;
    margin: 0 auto;
  }
  /* Size of search bar */
  .search {
    width: 35.45rem;
    margin: 0 auto;
  }
}

/* ----- End of Tablet Styles ---- */
/*                                 */
/* ------------------------------- *
 * ------- Desktop Styles -------- *
 * ------------------------------- */
@media (min-width: 900px) {
  /* Text Styles */
  .main__title {
    font-family: "Jura", sans-serif;
    font-size: 3.19rem;
    line-height: 3.3rem;
    text-align: center;
  }
  .section__title {
    font-family: "Jura", sans-serif;
    font-size: 2.56rem;
    line-height: 2.88rem;
    text-align: center;
  }
  .text {
    font-family: "Dosis", sans-serif;
    font-size: 1.13rem;
    line-height: 1.44rem;
  }
  .small__text {
    font-family: "Dosis", sans-serif;
    font-size: 1rem;
    line-height: 1.25rem;
  }
  /* Buttons Styles */
  .btn:hover,
  .button:hover {
    background-color: #3c1493;
    color: #f3f5f8;
  }
  /* Navbar Styles */
  /* Menu Styles */
  .menu {
    padding: 0;
    background-color: inherit;
  }
  .menu__item:hover, .menu__item--themes:hover {
    border-bottom: 2px solid #dd4356;
    cursor: pointer;
  }
  .menu__item a:active, .menu__item--themes a:active {
    color: #ab6e0d;
  }
  /* Footer Section Styles */
  .footer {
    padding: 2rem;
  }
}

/*                                 */
@media (min-width: 1100px) {
  /* Navbar Styles */
  .navbar {
    padding: 1.5rem 9.75rem;
  }
}

/* ---- End of Desktop Styles ---- */
/*                                 */
/*# sourceMappingURL=styles.css.map */