/* ------------------------------- *
 * ------------ Resets ----------- *
 * ------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: $light-color;
  color: $main-color;
  font-family: $main-font;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: $main-color;
}

p {
  font-weight: 300;
}

h1 {
  font-weight: 300;
}

h2,
h3 {
  font-weight: 500;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

input {
  background-color: transparent;
}

/* -------- End of Resets -------- */
/*                                 */

/* ------------------------------- *
 * ----- Some General Styles ----- *
 * ------------------------------- */

@mixin titles($size, $line) {
  font-family: $title-font;
  font-size: $size;
  line-height: $line;
  text-align: center;
}

@mixin texts($size, $line) {
  font-family: $main-font;
  font-size: $size;
  line-height: $line;
}

////////////////////////////////////

@mixin link($transform) {
  font-family: $title-font;
  font-weight: 700;
  font-size: 0.94rem;
  line-height: 1.88rem;
  text-transform: $transform;
  letter-spacing: 0;
}

@mixin link-desk {
  &:hover {
    color: $secondary-color;
  }

  &:active {
    color: $grey-btn-color;
  }
}

/////////////////////////////////////

@mixin flexbox($direction, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
}

////////////////////////////////////

/* Text Styles */
.main__title {
  @include titles(1.9rem, 2.06rem);
}

.section__title {
  @include titles(1.85rem, 1.88rem);
}

.main__text {
  @include titles(1.5rem, 1.6rem);
  color: $secondary-color;
}

.no_results__title {
  @include titles(1.2rem, 1.8rem);
  color: $secondary-color;
}

.text {
  @include texts(1rem, 1.44rem);
}

.small_text {
  @include texts(0.88rem, 1.25rem);
}

/* Hiden sections */
.hide {
  display: none;
}
.invisible {
  visibility: hidden;
}

/* Making sections or elements visible */
.visible {
  opacity: 1;
}

/* ---- End of General Styles ---- */
/*                                 */
