/* ------------------------------- *
 * -------- Tablet Styles -------- *
 * ------------------------------- */
@media (min-width: 768px) {
  /* Navigation Bar Styles */
  .navbar {
    padding: $sp-1 $sp-3;
  }

  /* Logo Size */
  .logo {
    width: $logo-desk-size;
  }

  /* Hero Section */

  /* Size of paragraph in Hero */
  .welcome {
    padding: $sp-1;

    .main_title {
      max-width: $text-size;
      margin: $margin-center;
    }
  }

  /* Size of search bar */
  .search {
    width: $text-size;
    margin: $margin-center;
  }
}

/* ----- End of Tablet Styles ---- */
/*                                 */

/* ------------------------------- *
 * ------- Desktop Styles -------- *
 * ------------------------------- */
@media (min-width: 900px) {
  /* Text Styles */
  .main__title {
    @include titles(3.19rem, 3.3rem);
  }

  .section__title {
    @include titles(2.56rem, 2.88rem);
  }

  .text {
    @include texts(1.13rem, 1.44rem);
  }

  .small__text {
    @include texts(1rem, 1.25rem);
  }

  /* Buttons Styles */
  .btn,
  .button {
    &:hover {
      background-color: $main-color;
      color: $light-color;
    }
  }

  /* Navbar Styles */

  /* Menu Styles */
  .menu {
    padding: 0;
    background-color: inherit;

    &__item,
    &__item--themes {
      &:hover {
        border-bottom: 2px solid $secondary-color;
        cursor: pointer;
      }

      a {
        &:active {
          color: $gold-btn-color;
        }
      }
    }
  }

  /* Footer Section Styles */
  .footer {
    padding: $sp-2;
  }
}

/*                                 */

@media (min-width: 1100px) {
  /* Navbar Styles */
  .navbar {
    padding: $sp-15 $sp-9;
  }
}

/* ---- End of Desktop Styles ---- */
/*                                 */
