@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Jura:wght@300;500&display=swap');

@import 'variables';
@import 'config';
@import 'components';
@import 'views';
@import 'queries';