/* ------------------------------- *
 * ------- Navigation Bar -------- *
 * ------------------------------- */
/* Section´s General Layout */
.navbar {
  position: relative;
  background-color: $light-color;
  display: flex;
  @include flexbox(row, space-between);
  padding: $sp-1 $sp-15;
  border-top: 0.31rem solid $main-color;

  .logo {
    width: $logo-mob-size;
  }

  .menu {
    &__item {
      padding: 0;
      margin: 0 2rem;

      &--themes p,
      a {
        font-weight: 600;
        color: $main-color;
        text-transform: uppercase;
      }
    }
  }
}

/* ---- End of Navigation Bar ---- */
/*                                 */
