/* --------------------------------------------------- *
 * ----------- Results / Favorites Section ----------- *
 * --------------------------------------------------- */
/* Main container Layout */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0.5rem;
}

/* Section´s General Layout */
.favorites,
.heroes {
  padding: $sp-1 $sp-15;
  text-align: center;
}

.error {
  width: 50%;
  padding: 2rem;
  text-align: center;
  background-color: $gold-btn-color;
  opacity: 0.65;

  p {
    font-size: 1.75rem;
    color: $light-color;
  }
}

/* Results´s Line on Top */
.section_line {
  width: 25%;
  height: 0.01rem;
  margin: $sp-28 auto;
  background-color: $gold-btn-color;
}

/* Heroes Results Layout */
.heroes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: $sp-28;
}

/* Message: No Searching Results */
.error_msg {
  width: 80%;
  text-align: center;
  margin: 5% auto;
}

/* -- End of My Gifos / Favorites / Results Section -- */
/*                                                     */
