/*       Dark Themes      */

// Main Dark Theme in Body
.dark {
  background-color: $dark-back-color;
  color: $light-color;

  //Dark Theme in Icons
  i {
    color: $light-color;
  }

  //Dark Theme in Text
  .text {
    color: $light-color;
  }

  // Dark Theme in Navbar
  .navbar {
    background-color: $dark-back-color;
  }

  // Dark Theme in Menu
  .menu {
    background-color: $dark-back-color;

    // Dark Theme in Menu Links
    &__item {
      a {
        color: $light-color;
      }
    }
  }

  // Dark Theme in Inputs
  .search {
    border-color: $light-color;
    caret-color: $light-color;

    &__input {
      color: $light-color;
    }

    i {
      color: $light-color;
    }
  }

  //Dark Theme in Footer Text
  .small_text {
    color: $light-color;
  }

  .prev,
  .next {
    background-color: $light-color;
    color: $dark-back-color;

    &:hover {
      background-color: $dark-back-color;
      color: $light-color;
      border-color: $light-color;
    }
  }
}

/*   End of Dark Themes   */
