$light-color: #f3f5f8;
$dark-color: #000000;
$dark-back-color: #37383c;
$darker-back-color: #222326;
$main-color: #3c1493;
$secondary-color: #dd4356;
$grey-text-color: #6b7989;
$gold-btn-color: #ab6e0d;

$main-font: "Dosis", sans-serif;
$title-font: "Jura", sans-serif;
$text-size: 35.45rem;

$logo-mob-size: 3.05rem;
$logo-desk-size: 3.69rem;

$margin-center: 0 auto;

$sp-05: 0.5rem;
$sp-1: 1rem;
$sp-15: 1.5rem;
$sp-2: 2rem;
$sp-25: 2.25rem;
$sp-28: 2.88rem;
$sp-3: 3rem;
$sp-4: 4rem;
$sp-48: 4.88rem;
$sp-5: 5rem;
$sp-57: 5.75rem;
$sp-9: 9.75rem;
$sp-11: 11.5rem;
